:root {
  --first-color: #f5f5f5;
  --sd-color: #04c2c9;
  --thrd-color: #e31b6d;
  --frth-color: #1b242f;
  --ffth-color: #444649;
  --sxth-color: #616161;
  --svth-color: #252934;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Start Home section  */
section {
  width: 100%;
  padding: 6rem 2rem;
  flex-direction: column;
  overflow: hidden;
}
#home {
  height: 100vh;
  background: url("../images/canvas.png") center/cover;
}
#home h1 {
  font-size: 2.7rem;
  color: var(--first-color);
  text-align: center;
  font-weight: 400;
}
#home span {
  color: var(--thrd-color);
}
#home button {
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--first-color);
  padding: 11px 22px;
  margin-top: 1.1rem;
  font-weight: 500;
  border: 2px solid var(--first-color);
  transition: 0.5s;
}
#home .fa-arrow-right {
  font-size: 1rem;
  margin-left: 0.7rem;
  transition: 0.3s;
}
.social-cntr div:hover,
#home button:hover,
#contact .sub-btn:hover {
  background-color: var(--sd-color);
  border: 2px solid var(--sd-color);
}
#home button:hover i {
  transform: rotate(90deg);
}
/* End Home section  */

/** Start Responsive Nav-Bar */
.nav-container {
  width: 100%;
  height: 50px;
  background-color: var(--frth-color);
  border-bottom: 3px solid var(--sd-color);
  position: sticky;
  top: -50px;
  transition: all 700ms;
  overflow: hidden;
  z-index: 99;
}
.nav-container.sticky {
  top: 0;
}
nav {
  margin-left: 10%;
}
nav ul {
  margin-top: 6px;
  margin-bottom: 6px;
}
nav ul li,
#portfolio ul li {
  display: inline-block;
  margin-left: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.5rem 0;
}
nav ul li a,
#portfolio ul li a {
  text-decoration: none;
  color: var(--first-color);
  transition: color 0.5s ease;
}
nav ul li a:hover {
  color: var(--thrd-color);
}
.nav-toggler {
  width: 50px;
  height: 47px;
  background-color: var(--frth-color);
  float: right;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px 6px;
  display: none;
}
.nav-toggler span {
  width: 35px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 3px;
}
.nav-toggler .span1,
.nav-toggler .span3 {
  transition: all 500ms;
}
/** End Responsive Nav-Bar */

/** Start of Section About */
h2 {
  font-size: 2.3rem;
  color: var(--ffth-color);
  font-weight: 700;
  margin-bottom: 4rem;
  margin-left: 150%;
  transition: all 1s;
}
h2.anim {
  margin-left: 0;
}
h2::after {
  content: "";
  display: block;
  background-color: var(--ffth-color);
  height: 0.25rem;
  width: 4.3rem;
  margin: 10px auto;
}
.fa-tachometer-alt,
.fa-laptop-code,
.fa-lightbulb,
.fa-rocket {
  font-size: 2.7rem;
}
.hex-holder {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 1rem auto;
  transform: rotateY(90deg);
  opacity: 0;
  transition: transform 1s ease-out;
}
.hex-holder.anim {
  transform: rotateY(0deg);
  opacity: 1;
}
.hex-desc {
  transform: rotateY(90deg);
  transition: transform 1s 300ms ease-out;
}
.hex-desc.anim {
  transform: rotateY(0deg);
}
.hex-holder i {
  z-index: 5;
  color: var(--first-color);
  font-size: 2.5rem;
}
.hexagon,
.hexagon::after,
.hexagon::before {
  position: absolute;
  background-color: var(--sd-color);
  height: inherit;
}
.hexagon::after,
.hexagon::before {
  content: "";
  display: inline-block;
  width: 100%;
  left: 0;
}
.hexagon {
  left: 20%;
  width: calc(100% * 0.57735);
  /* "flex-center" class added to center the icons  */
}
.hexagon::after {
  transform: rotate(60deg);
}
.hexagon::before {
  transform: rotate(-60deg);
}

.about-flex {
  width: 87%;
  margin-bottom: 4rem;
}
.about-flex,
.about-ftr1,
.about-ftr2 {
  display: flex;
  justify-content: space-around;
}
.about-ftr1,
.about-ftr2 {
  width: 50%;
  min-width: 13rem;
  flex-wrap: wrap;
}
.about-card {
  width: 50%;
  min-width: 11.9rem;
}
.about-card,
.my-card {
  text-align: center;
  color: var(--sxth-color);
  padding: 0 0.4rem;
}
h3 {
  font-size: 1.5rem;
  margin: 0.4rem;
}
.section-about p {
  line-height: 1.6rem;
}
.who-is {
  flex-wrap: wrap;
  width: 100%;
}
.my-card {
  width: 35%;
  min-width: 22rem;
  position: relative;
  left: -50%;
  opacity: 0;
  transition: all 700ms ease-out;
}
.my-card.anim {
  left: 0;
  opacity: 1;
}
.my-card,
.skills {
  padding: 0 16px;
}
.my-photo {
  width: 17rem;
  z-index: 6;
}
.my-card .hex-holder {
  width: 250px;
  height: 250px;
}
.bar-level,
.my-card .hexagon,
.my-card .hexagon::after,
.my-card .hexagon::before {
  background-color: #00a1a7;
}
.my-card h3 {
  margin: 1rem;
}
.my-card span,
.my-card a {
  color: var(--sd-color);
  font-weight: 500;
  text-decoration: none;
}
.skills {
  width: 40%;
  min-width: 28rem;
  max-width: 38rem;
  position: relative;
  right: -50%;
  opacity: 0;
  transition: all 700ms ease-out;
}
.skills.anim {
  right: 0;
  opacity: 1;
}
.bar {
  width: 100%;
  height: 1.8rem;
  background-color: lightgray;
  margin: 1rem 0;
}
.skill-name {
  width: 7rem;
  height: 100%;
  background-color: var(--sd-color);
  line-height: 1.9rem;
  color: var(--first-color);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
.bar:first-child .percentage {
  margin-left: 80%;
}
.bar:nth-child(3) .percentage {
  margin-left: 40%;
}
.bar-level {
  width: 7rem;
  height: 100%;
  float: left;
}
/** ====== Animate Bars Level ======= */
.bar:first-child .bar-level {
  transition: all 700ms 1s ease-out;
}
.bar:nth-child(2) .bar-level {
  transition: all 700ms 1.1s ease-out;
}
.bar:nth-child(3) .bar-level {
  transition: all 700ms 1.2s ease-out;
}
.bar:nth-child(4) .bar-level {
  transition: all 700ms 1.3s ease-out;
}
.bar:nth-child(5) .bar-level {
  transition: all 700ms 1.4s ease-out;
}
.bar:nth-child(6) .bar-level {
  transition: all 700ms 1.5s ease-out;
}
.bar:nth-child(7) .bar-level {
  transition: all 700ms 1.6s ease-out;
}
.bar:nth-child(8) .bar-level {
  transition: all 700ms 1.7s ease-out;
}

.bar:nth-child(6) .bar-level.anim {
  width: calc((40 * (100% - 7rem) / 100) + 7rem);
}
.bar:nth-child(7) .bar-level.anim {
  width: calc((50 * (100% - 7rem) / 100) + 7rem);
}
.bar:nth-child(3) .bar-level.anim,
.bar:nth-child(5) .bar-level.anim {
  width: calc((60 * (100% - 7rem) / 100) + 7rem);
}
.bar:nth-child(2) .bar-level.anim,
.bar:nth-child(8) .bar-level.anim,
.bar:nth-child(4) .bar-level.anim {
  width: calc((70 * (100% - 7rem) / 100) + 7rem);
}
.bar:first-child .bar-level.anim {
  width: calc((80 * (100% - 7rem) / 100) + 7rem);
  /* If Using Animation (@keyframes barGrow80) Instead Of Transition 
  animation: barGrow80 1500ms 1.4s ease-out forwards; // forwards= to keep the last properties in the animation */
}
/* @keyframes barGrow80 {
  0% {
    opacity: 0;
    }
  100% {
    width: calc((80 * (100% - 7rem) / 100) + 7rem);
  }
} */
.percentage {
  height: 100%;
  line-height: 1.9rem;
  text-align: end;
  padding-right: 0.6rem;
}
/** End of Section About */

/** Start of Section Projects */
#portfolio {
  background-color: #f5f5f5;
}
#portfolio ul li {
  margin: 0 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}
#portfolio ul {
  margin-bottom: 1rem;
}
#portfolio ul li a {
  color: var(--sxth-color);
  padding: 0.3rem 2vw;
}
#portfolio ul li:first-child a,
#portfolio ul li:hover a {
  color: var(--first-color);
  background-color: var(--thrd-color);
}
.project {
  width: 390px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 390px 300px;
  margin-top: 60%;
  opacity: 0;
  transition: margin-top 1.5s ease-out, opacity 3s ease;
}
.project.anim {
  margin-top: 0;
  opacity: 1;
}
.projects-links {
  opacity: 0;;
  transition: opacity 1.5s ease-out;
}
.projects-links.anim {
  opacity: 1;
}
.project:first-child {
  background-image: url(../images/thumb-1.jpg);
}
.project:nth-child(2) {
  background-image: url(../images/thumb-2.jpg);
}
.project:nth-child(3) {
  background-image: url(../images/thumb-3.jpg);
}
.project:nth-child(4) {
  background-image: url(../images/thumb-4.jpg);
}
.project:nth-child(5) {
  background-image: url(../images/thumb-5.jpg);
}
.project:nth-child(6) {
  background-image: url(../images/thumb-6.jpg);
}
.project:nth-child(7) {
  background-image: url(../images/thumb-7.jpg);
}
.project:nth-child(8) {
  background-image: url(../images/thumb-8.jpg);
}
.project:nth-child(9) {
  background-image: url(../images/thumb-9.jpg);
}
.flip {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}
.flip h4 {
  font-size: 1.3rem;
}
.flip span {
  font-size: 1rem;
  color: var(--thrd-color);
}
.flip button {
  font-size: 1rem;
  padding: 0.7rem 1.4rem;
  border: 2px solid var(--thrd-color);
  background-color: transparent;
}
.flip button:hover {
  background-color: var(--thrd-color);
  color: var(--first-color);
}
.flip div,
.flip button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  opacity: 0;
}
.flip div {
  top: 0;
  text-align: center;
}
.flip button {
  bottom: 0;
  cursor: pointer;
}
.project:hover .flip {
  visibility: visible;
  opacity: 1;
}
.project:hover .flip div {
  top: 22%;
  opacity: 1;
}
.project:hover .flip button {
  bottom: 22%;
  opacity: 1;
}
/** Start-Projects section using Grid Layout */
/*
.projects-grid {
  max-width: 1200px; /*! To not have 4 grid columns *!/
  margin: 0 0.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 390px); /*! Auto-fill: Number of Columns changes automaticaly *!/
  justify-content: center;
  align-self: normal; /*! To avoid the anomaly cosed by 'align-items' in parent Section*/
/*! To center the grid, 'margin:0 auto' works too but cause grid-items wrapping anomaly *!/
  position: relative;
  left: calc(50% - 0.3rem);
  transform: translateX(-50%);
}
@media screen and (min-width: 790px) and (max-width: 1195px) {
  .project:nth-child(9) {
    grid-column: span 2;
    margin: 0 auto;
  }
}
*/
/** End-Projects section using Grid Layout */

/** Start-Projects section using Flex-Box Layout */
.projects-grid {
  max-width: 1170px;
  flex-wrap: wrap;
}
/* with class="flex-center" That's all !! */
/** End-Projects section using Flex-Box Layout */

/** Start Blog section */
.blogs-container {
  flex-wrap: wrap;
}
.blog-card {
  width: 16.875rem;
  height: max-content;
  color: var(--sxth-color);
  margin: 1.2rem 0.5rem;
  transition: opacity 0.3s;
}
.blog-card div {
  width: 100%;
  height: 12.5rem;
  margin-bottom: 1rem;
}
.blog-card:first-child div {
  background: #04c2c9 url(../images/blog-1.jpg) no-repeat center/cover;
}
.blog-card:nth-child(2) div {
  background: #04c2c9 url(../images/blog-2.jpg) no-repeat center/cover;
}
.blog-card:nth-child(3) div {
  background: #04c2c9 url(../images/blog-3.jpg) no-repeat center/cover;
}
.blog-card:last-child div {
  background: #04c2c9 url(../images/blog-4.jpg) no-repeat center/cover;
}
.date {
  font-size: 0.8rem;
  font-family: "Open sans";
}
.date::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  margin-top: 1.3rem;
  background-color: var(--sd-color);
}
.blog-card p {
  font-size: 0.9rem;
}
/* Styling the other container's elements but the hovered one. */
.blogs-container:hover .blog-card {
  opacity: 0.5;
}
.blog-card:hover,
#home button:hover {
  opacity: 1 !important;
  cursor: pointer;
}
.blog-card:hover h3 {
  color: #04c2c9 !important;
}
/** To Know:
// Styling just the precedent elements.
.blog-card:hover ~ .blog-card {
  opacity: 0.5;
}
// Styling just the previous elements.
.blogs-container:hover .blog-card {
  opacity: 0.5;
}
.blog-card:hover,
.blog-card:hover ~ .blog-card {
  opacity: 1 !important;
} */
#contact {
  background: var(--svth-color) url(../images/contact-bg.jpg) no-repeat top
    center;
  background-size: contain;
  min-width: 100%;
  padding-top: 10rem;
}
#contact h2 {
  color: var(--first-color);
  margin-bottom: 0;
}
#contact h2::after {
  background-color: var(--first-color);
}
.contact-container {
  width: 32rem;
  max-width: 32rem;
}
.question {
  color: var(--sd-color);
  margin: 3rem auto;
  text-align: center;
  position: relative;
  left: -60vw;
  transition: all 800ms ease-out;
}
.question.anim {
  left: 0;
}
.form-inputs {
  visibility: hidden;
  /* Alternative 
  transform: scale(30%);
  transition: all 900ms;
  */
}
.form-inputs.anim {
  /* Alternative 
  transform: scale(1);
  */
  visibility: visible;
  animation: contact 1000ms ease-in;
}
 @keyframes contact {
  0% {
    transform: scale(30%);
  }
  75% {
     transform: scale(1.2);
  }
  90% {
     transform: scale(0.8);
  }
  100% {
     transform: scale(1);
  }
 }
.name,
.email,
.message {
  width: 100%;
  background-color: var(--frth-color);
  border: none;
  color: var(--first-color);
  font-size: 1rem;
  padding: 0.6rem;
  outline: none;
}
.name,
.email {
  height: 42px;
  margin-bottom: 3px;
}
.message {
  min-height: 10rem;
  margin-bottom: 1rem;
  resize: vertical;
  line-height: 1.4rem;
}
.message::-webkit-scrollbar {
  display: none;
}
form .sub-btn {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.5rem;
  padding: 0 2rem;
  background-color: var(--frth-color);
  border: 2px solid var(--first-color);
  color: var(--first-color);
  transition: 0.5s;
  float: right;
}

footer {
  background-color: var(--frth-color);
  padding: 4rem 0;
  position: relative;
}
.up-link {
  position: absolute;
  top: -1.375rem;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
}
.up-btn {
  width: 3.48rem;
  height: 3.125rem;
  background-color: var(--thrd-color);
  font-weight: 600;
  text-align: center;
  line-height: 2.69rem;
  color: var(--first-color);
  font-size: x-large;
}
.social-cntr {
  width: fit-content;
  display: flex;
  margin: 0 auto 2.5rem;
}
.social-cntr div {
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--svth-color);
  margin: 0 1rem;
  color: var(--first-color);
  font-size: 1.2rem;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}
.social-cntr div i {
  position: absolute;
}
.social-cntr div:hover i {
  animation-name: icon-anim;
  animation-duration: 0.5s;
}
@keyframes icon-anim {
  0% {
    top: 50%;
    transform: translateY(-50%);
  }
  50% {
    top: 115%;
  }
  50.2% {
    top: -15%;
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}
footer h4 {
  text-align: center;
  color: var(--sxth-color);
  font-size: 0.9rem;
}
.copyright {
  color: #8b1d4b;
}
/** MEDIA QUERIES */
@media screen and (max-width: 1270px) and (min-width: 440px) {
  .blog-card {
    width: 25rem;
  }
  .blogs-container {
    width: 52rem;
  }
}
@media screen and (max-width: 975px) {
  .skills {
    width: 90%;
    max-width: initial;
  }
  .my-card {
    width: 75%;
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 850px) {
  .blogs-container {
    width: 26rem;
  }
}
@media screen and (max-width: 700px) {
  #home h1 {
    font-size: 2rem;
  }
  section {
    padding: 4rem 0.5rem 6rem;
  }
  #portfolio ul li {
    margin: 0 0 0.2rem 0;
    font-size: 0.9rem;
  }
  .contact-container {
    width: 90vw;
    min-width: 20rem;
  }
  #contact h4 {
    font-size: 0.9rem;
  }
  /** Start Responsive Nav-Bar */
  nav {
    position: absolute;
    top: calc(100% + 3px); /* 100%=Parent 3px=Bottom-Berder */
    width: 100%;
    height: 0;
    margin-left: 0;
    overflow: hidden;
    background-color: var(--ffth-color);
    transition: height 600ms;
  }
  nav.triger {
    height: 200px;
  }
  .nav-container {
    overflow: visible;
  }
  nav ul {
    display: block;
    margin-top: 10px;
  }
  nav ul li {
    display: block;
    margin-left: 1.3rem;
  }
  .nav-toggler {
    display: flex;
    position: relative;  
  }
  .nav-toggler .span2.triger {
    visibility: hidden;
  }
  .nav-toggler .span1.triger {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
  }
  .nav-toggler .span3.triger {
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
  }
  /** End Responsive Nav-Bar */
}
@media screen and (max-width: 550px) {
  html {
    font-size: 80%;
  }
  section {
    padding: 4rem 0 6rem;
  }
  nav.triger {
    height: 160px;
  }
  .about-card {
    min-width: 8rem;
  }
  .skills {
    min-width: 24rem;
  }
  .project {
    width: 375px;
    height: 280px;
    background-size: 375px 280px;
  }
  .blogs-container {
    width: 100%;
  }
  .blog-card {
    width: 95%;
    max-width: 25rem;
  }
  .blog-card h3 {
    font-size: calc(3vw + 0.5rem);
  }
  #contact {
    padding-top: 7rem;
  }
}
@media screen and (max-width: 350px) {
  #home h1 {
    font-size: 1.5rem;
  }
  .about-ftr1,
  .about-ftr2 {
    min-width: 10rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .who-is {
    width: 100%;
  }
  .skills {
    min-width: 100%;
  }
  .my-photo {
    width: 80%;
  }
  .my-card {
    width: 100%;
  }
  .percentage {
    font-size: 0.8rem;
  }
  .projects-grid {
    width: 100%;
  }
  .project {
    width: 95%;
    height: 75vw;
  }
  .social-cntr div {
    margin: 0 2vw;
  }
  footer h4 {
    font-size: 0.7rem;
  }
}
